<h2><%= @list.name %></h2>
<br>
<h4>Films</h4>

<% bookmarks = @list.bookmarks %>

<ul>
  <% bookmarks.each do| bookmark | %>
  <% movie_id = bookmark.movie_id %>
  <% movie = Movie.find(movie_id) %>
  <div class="card-product">
    <li>
      <img src="https://image.tmdb.org/t/p/w200<%= movie.poster_url %>" alt="Poster">
    </li>
    <div class="card-product-infos">
      <h2><%= movie.title %></h2>
      <br>
      <p><%= bookmark.comment %></p>
    </div>
  </div>
  <% end %>
</ul>
<br>

<%= link_to "+ movie to this list", new_list_bookmark_path(@list) %>
<br>
<%= link_to "All Lists", lists_path %>

<br>
<%= link_to "Delete",
  list_path(@list),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
