<h1>Add the form for creating a list here</h1>

<% movies = Movie.all %>
<% movie_titles = [] %>
<% movies.each do | movie | %>
<% movie_titles << movie.title %>
<% end %>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.input :movie_id, collection: movie_titles %>
  <%= f.input :list_id %>
  <%= f.submit %>
<% end %>

<%= link_to "Go back to All Lists", lists_path %>
